<div class="row">
  <div class="col-12">
     <div class="text-right">
        <a routerLink="/client/creat" class="btn btn-default"><i class="fa fa-plus"></i></a>
     </div>
     
<table class="table table-hover">    
<thead>
  <tr>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th>Balance</th>
<th></th>
</tr>
</thead>
<tbody>
<tr *ngFor="let client of clients" (dblclick)="delete(client)">

<td>{{client.firstName}} {{client.lastName | uppercase}}</td>
<td>{{client.email}}</td>
<td>{{client.phone}}</td>
<td>{{client.balance | currency}}</td>
<td class="text-right">

    <a [routerLink]="['/client/show', client.id]" class="btn btn-secondary"><i class="fa fa-eye"></i></a>
  



    <a [routerLink]="['/client/edit', client.id]" class="btn btn-warning"><i  class="fa fa-pencil"></i></a>
    
  
</td>

</tr>

</tbody>

    </table>
    {{totalOwed}}
  </div>
</div>